{% extends "cryptoshop/base.html" %}

{% block content %}
    <h3 class="text-center mt-3">Change Password</h3>
<div class="container-fluid col-md-8 rounded bg-info text-center text-white mt-3 ">
    <div class="row col-md-6 mx-auto">
        <div class="col-md-6 ">
        <form method="post">
            {% csrf_token %}
            {% for f in form %}

                <div class="mb-3 mx-auto mt-5" style="width: 14%">
                    <label class="form-label"> {{ f.label}}:</label>
                    <p>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                </div>

            {% endfor %}
            <div class="row">
                    <div class="mx-auto mt-3 mb-3 mr-5" style="display: inline-block; text-align: center; margin: 0 auto">
                        <input class="btn btn-primary mx-auto" type="submit" value="Save"/>
                     </div>
                 </div>
        </form>
        </div>
    </div>
{% endblock %}