{% extends "cryptoshop/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "cryptoshop/css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Cryptoshop</a>
</div>
<div id="content">
    {% block content %}
        <div class="product-detail mx-5 mt-5">
            <img class="" src="{% if product.image %}{{ product.image.url }}{% else %}
            {% static "cryptoshop/img/no_image.png" %}{% endif %}">
            <h1>{{ product.name }}</h1>
            <h3>
                <a class="text-white" href="{%url "cryptoshop:product_list"%}">{{product.category }}</a>
            </h3>
            <p class="price text-white">${{ product.price }}</p>
            {% if user.is_authenticated %}
                {% if not user.is_staff %}
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                     </form>
                {% endif %}
            {% else%}
                <p class="text-danger">To buy this product you need authenticated</p>
            {% endif%}

            {{ product.description|linebreaks }}
        </div>
    {% endblock %}
</div>
</body>
</html>